{% extends 'base.html' %}
{% load static %}

{% block title %}Blog - Edit{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<style>
  .addTagBtn {
    width: 75px
  }

  #tagList {
    list-style: none;

  .tagDelete {
    height: 100%;
    border: none;
    background: inherit;
  }

  .tag{
    display: inline-block;
    padding: 5px;
  }
  }
</style>
{% endblock %}

<!--================================= page-title-->

{% block sub-title %}Blog Edit{% endblock %}
{% block root_b %}Blog{% endblock %}
{% block root_c %}Edit{% endblock %}


{% block content %}
<div class="container">
  <form action="{% url 'blog:edit' pk=post.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" class="button col-1 float-end mt-20 mb-20" value="수정">
    <div>
      <!-- <label for="{{ form.title.id_for_label }}">Title:</label> -->
      {{ form.title }}
    </div>
    <div>
      <!-- <label for="{{ form.content.id_for_label }}">Content:</label> -->
      <div id="content"></div>
    </div>
    <input type="hidden" name="{{ form.content.html_name }}" id="{{ form.content.auto_id }}" value="{{ form.content.value }}">
    <div>
      {% comment %} {{ tagForm.content }} {% endcomment %}
      <h6 class="mt-30 mb-20">Tag Write
      </h6>
      <div class="d-flex">
        <input type="text" class="form-control tagInput" placeholder="태그를 입력해주세요.">
        <button type="button" class="button addTagBtn col-1">추가</button>
    </div>
    <div class="d-flex align-items-center justify-content-between mb-30">
      <div class="tags mt-10 mb-10">
        <ul id="tagList">
        </ul>
      </div>
    </div>
  </div>
  <input type="hidden" name="tags" id="tagsInput" value="">
  </form>
</div>
{% endblock %}
{% block extra_js %}
<script>
  const Editor = toastui.Editor;
  const editor = new Editor({
    el: document.querySelector('#content'),
    height: '500px',
    initialEditType: 'wysiwyg',
    previewStyle: 'vertical',
    events: {
      change: function () {
        const value = editor.getHTML();
        document
          .querySelector("#{{ form.content.auto_id }}")
          .value = value;
      }
    }
  });

  $quoteBtn = document.querySelector('.quote');
  $quoteBtn.parentNode.removeChild($quoteBtn);

  const initialContent = "{{ content|escapejs }}";
  editor.setMarkdown(initialContent);

  const tagInput = document.querySelector('.tagInput');
  const addTagBtn = document.querySelector('.addTagBtn');
  const tagList = document.querySelector('#tagList');
  const tagsInput = document.querySelector('#tagsInput');
  const tags = [];

  const initialTags = ("{{ tags|escapejs }}".replace('QuerySet ', '').replaceAll(/<|>|Tag: |/g, '')).slice(1, -1).split(', ')
  initialTags.forEach((initialTag) => addTag(initialTag))

  tagInput.addEventListener('keydown', enterHandler)
  addTagBtn.addEventListener('click', addTag);

  function enterHandler(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      addTag()
    }
  }

  function addTag(initialTag=null) {
    let tag = null
    if (initialTag !== null) {
      tag = initialTag
      } else {
      tag = tagInput
        .value
        .trim();
      }

    if (tag) {
      tags.push(tag);

      const anchor = document.createElement('a');
      anchor.classList.add('tag');
      const listItem = document.createElement('li');
      const deleteBtn = document.createElement('button');
      deleteBtn.classList.add('tagDelete', 'button-border');
      deleteBtn.textContent = 'x';

      deleteBtn.addEventListener('click', () => {
        const index = tags.indexOf(tag);
        if (index > -1) {
          tags.splice(index, 1);
        }
        tagList.removeChild(listItem);
        updateTagsInputValue();
      });

      anchor.textContent = tag;
      anchor.appendChild(deleteBtn)
      listItem.appendChild(anchor);
      tagList.appendChild(listItem);
      tagInput.value = '';

      updateTagsInputValue();
    }
  }

  function updateTagsInputValue() {
    tagsInput.value = tags.join(',');
  }
  // editor.getHTML()
  // editor.getMarkdown()
</script>
{% endblock %}